.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
    
.card{ 
    height: 460px;
    width: 285px;
    border: 1px solid;
    padding: 4%;
    text-align: start;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px 1px #1d010125;
}
  